---
import bg from './png/chat.png'
import bgLoading from './png/chatting.gif'

import { eventEmitter } from  '../state/state' 
let layoutStatus :boolean = false
eventEmitter.on('update:layoutStatus', (status: boolean) => {
  layoutStatus = status
  console.log(status)
});
---
<div  min-h-screen>
  <div class="mh-blur">
    <div flex justify-end style="filter: grayscale(1);"  >
  
      <img  class="chat-img" display-none src={bg} h-screen alt="Blurred background image">
      <img  class="chatting-img" display-none  src={bgLoading} h-screen alt="Blurred background image">
    </div>
  </div>
  <div>{layoutStatus}</div>
   <div fixed z-2  h-screen w-screen p-3 >
    <div h-full w-full rounded-22px  class="drop" dark:bg="#15011dad" border   bg="#eee"> 
    </div>
  </div>
  <div relative z-2  min-h-screen dark:bg="#15011dad"    bg="#eee"  >
    <slot />
  </div>
</div>
<style is:global>
.mh-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* filter: blur(10px); */
    z-index: 1;
    
  }
  .drop {
    backdrop-filter: blur(8px);
  }
  .app .chatting-img {
      display : none;
  }
  .app .chat-img {
      display : inline;
  }
  .app.chatting .chatting-img {
      display : inline;
  }
  .app.chatting .chat-img {
      display : none;
  }
</style>

